body {
    margin: 0;
    background: #ECEFF1;
}

img {
    display: block;
    margin: auto;
    margin-top: 200px;
}

.cutout {
    -webkit-mask-image: url('../images/tdc.svg');
    -webkit-mask-size: cover;
}